<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our realizations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    <link rel="icon" href="{{ url_for('static', filename='logo_template.png') }}">
</head>
<body>
    <header>
        <img id="logo" src="{{ url_for('static', filename='logo_template.png') }}" alt="Our logo">
        <div id="object_searcher">
            <p id="object_searcher">Tu ma być wyszukiwarka</p>
        </div>
    </header> 
    <aside>
        {% for value in data %}
            <div id="aside-object-list" data-value="{{ value['name'] }}">
                <p>Nazwa: {{ value['name'] }} </br></p>
                <p>Typ: {{ value['type'] }} </br></p>
                <p>Moc: {{ value['power'] }} MW </br></p>
                <p>Właściciel: {{ value['owner'] }} </br></p>
            </div>
        {%endfor%}
    </aside>
    <main>
        <div id="map">
            <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        </div>
    </main>
</body>
</html>